*{
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

#output {

    color: white;

}

.center, aside, section {
    display: flex;
    justify-content: center;
}

body {
  display: flex;
  background-color: black;
 
}

.botao{
align-self: center;
z-index: 3;
color: white;
font-family: "Open Sans", sans-serif;
text-transform: uppercase;

background-color: #69B99D;
border: none;
padding: 14px 32px 15px;

display: flex;
align-items: center;
justify-content: center;
gap: 10px;

border-radius: 4px;

cursor: pointer;
}
.Deco{
  position: absolute;
  left: 25%;
  height: 100%;
  width: 60%;
}